/*/////////////// MOBIL & TABLET /////////////// */

@media screen and (max-width: 1200px) {

    /* INFO-BAND */

    .marquee-info {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        white-space: nowrap;
    }

    .marquee-info .marquee-info-content {
        width: 450%;
        position: relative;
        display: inline-block;
        animation: marquee 12s linear infinite;
    }

    .info-content,
    .h1 {
        display: flex;
    }

    .info-content span {
        display: block;
    }

    /* HEADER */

    section.show .tab-close,
    .label p {
        display: none;
    }

    /* 7 MECANIQUES */

    /* OBSERVATIONS */

    .post-its p,
    .post-it .strong,
    .post-it .subtitle,
    .post-its li {
        padding-top: 10px;
    }

}

/* /////////////// MOBIL /////////////// */

@media screen and (max-width: 599px) {
    .h1 {
        padding-left: 0px;
        font-size: 50px;
        line-height: 55px;
        width: 400px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    /* /// ACCORDION /// */

    section>header,
    section.show>header {
        max-height: 120px;
    }

    .sticky+.tab-content {
        transition: all 0s;
        padding-top: 110px;
    }

    section>header>.header-content,
    section.show>header>.header-content,
    section>header>.header-content .marquee,
    section.show>header>.header-content .marquee {
        white-space: normal;
        text-align: left;
    }

    .marquee .marquee-content {
        width: 100%;
        animation: none !important;
    }

    .marquee .marquee-content span {
        display: none;
    }

    .marquee .marquee-content span.fixed {
        display: flex;
    }

    .header.sticky {
        position: unset;
    }

    .header.sticky+.tab-content {
        padding-top: 0px;
    }

    /* /// 7 MECANIQUES /// */

    /* HYPOTHESE */

    .mini-img {
        background-size: 180px;
    }

    .mp .mini-img,
    .p .mini-img,
    .a .mini-img,
    .e .mini-img {
        height: 250px;
    }

    .ce .mini-img,
    .cc .mini-img,
    .fl .mini-img {
        height: 300px;
    }

    .ce .hypothese .bg {
        background-size: 114%, 87%;
    }

    .mp .hypothese .bg {
        background-size: 114%, 75%;
    }

    .mp .fig {
        top: 50%;
    }

    .p .hypothese .bg {
        background-size: 114%, 82%;
    }

    .a .hypothese .bg {
        background-size: 114%, 67%;
    }

    .cc .hypothese .bg {
        background-position: left 45%, left 45%;
        background-size: 114%, 87%;
    }

    .e .hypothese .bg {
        background-size: 114%, 64%;
    }

    .e .fig {
        left: 65%;
    }

    .fl .hypothese .bg {
        background-size: 114%, 70%;
    }

    .fl .fig {
        left: 70%;
    }

    /* / OBSERVATIONS / */
    /* IMG */

    .observations .bg {
        max-width: 415px;
        height: 100% !important;
    }

    /* POST-ITS */
    .post-it {
        position: initial;
        width: 100%;
        max-width: 415px;
        min-height: 100%;
        margin: 0 auto;
    }

    /* LINKS-BOX */
    .links-box.video {
        padding: 50px;
    }

    .temoignages .links-box {
        padding: 20px 30px 50px 30px;
    }

    /* ABOUT */
    .side,
    .side+ul {
        display: none;
    }

    .intro-mobil {
        display: block;
        padding-bottom: 50px;
    }

    .intro-mobil p {
        padding-bottom: 20px;
    }

    .intro-mobil strong {
        color: #FF6E29;
        font-weight: bold;
    }

    .intro-mobil strong.black {
        color: #1C1B1B;
    }

    .about .bg {
        height: 0px;
    }

    .general-bg {
        background-position: 50% 0%;
        min-height: 400px;
    }

    article.illustrations {
        padding-bottom: 0px;
    }

    article .general-bg {
        padding-bottom: 80%;
    }

}

@media screen and (min-width: 600px) and (max-width: 759px) {

    /* /// ACCORDION /// */

    section.show>header {
        display: flex;
        min-height: 95px;
        max-height: 120px;
    }

    section.show>header .h1 {
        line-height: 55px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    section.show>header>.header-content,
    section.show>header>.header-content .marquee {
        white-space: normal;
        margin: auto 0;
        text-align: left;
    }

    /* /// 7 MECANIQUES /// */

    /* / OBSERVATIONS / */
    .observations .bg img.ideation,
    .observations .bg img.dunkerque {
        display: none;
    }

    .mp .post-it {
        transform: translate(0px, 250px);
    }

    /* POST-ITS */
    .post-it {
        min-height: 0px;
    }

    /* CE */
    .post-it.inter-collectivites {
        top: 430px;
    }

    .post-it.coordination {
        top: 570px;
    }

    /* MP */
    .post-it.coaching {
        top: 410px;
    }

    .post-it.sociologie {
        top: 630px;
    }

    .post-it.politiques {
        top: 930px;
    }

    /* A */
    .post-it.superieur {
        top: 370px;
    }

    /* E */
    .post-it.grand-est {
        top: 700px;
    }

    /* FL */
    .post-it.impliquation {
        top: 400px;
    }

    /* LINKS-BOX */

    .temoignages .links-box {
        padding-top: 50px;
    }

    /* ABOUT */

    .side {
        min-width: 150px;
        max-width: 23%;
    }
}

@media screen and (max-width: 759px) {

    body,
    .title-box p {
        font-size: 14px;
    }

    h2 {
        font-size: 29px;
    }

    h3 {
        font-size: 21px;
        text-align: left;
    }

    .mainNav .container,
    .label .container,
    .tab-content .container,
    .content .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* /// NAV-BAR /// */

    .mainNav nav {
        height: 110px;
    }

    .mainNav nav,
    .logo_ctn {
        display: block;
    }

    .mainNav .nav_links li,
    .mainNav .nav_links {
        padding-left: 0;
    }

    .mainNav .nav_links {
        height: 10px;
        margin: 0 auto;
        white-space: nowrap;
    }

    .logo_ctn {
        display: flex;
        margin: auto;
        height: 80px;
        width: 100%;
        max-width: 500px;
    }

    /* /// ACCORDION /// */

    .tabs {
        padding-top: 140px;
    }

    .h1,
    .marquee .h1 {
        padding-left: 15px;
        font-size: 56px;
        margin: 0;
    }

    .marquee .h1 span.fixed {
        padding-left: 0px;
    }

    .header.sticky {
        top: 140px;
    }

    /* /// 7 MECANIQUES /// */

    .sheet {
        font-size: 24px;
    }

    article {
        padding-bottom: 100px;
    }

    /* TITLE-BOX */

    .cousins .title-box div {
        display: none;
    }

    .title-box h2,
    .title-box div,
    .cousins .title-box h2,
    .cousins .title-box div {
        width: 100%;
    }

    .title-box {
        align-items: center;
        margin-bottom: 50px;
    }

    .title-box h2 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .title-box p {
        font-size: 14px;
    }

    /* HYPOTHESE */
    .legende {
        margin-bottom: 50px;
    }

    .fig,
    .fig-cs {
        font-size: 35px;
    }

    /* OBSERVATIONS */

    .legende {
        font-size: 18px;
    }

    .subtitle {
        font-size: 16px;
        text-align: left;
    }

    /* BACKGROUND IMG */

    .observations .bg {
        height: 100% !important;
    }

    .observations .bg img {
        position: unset;
        width: 100% !important;
        margin-bottom: -5px;
    }

    /* POST-IT */

    .post-it .subtitle,
    .post-it .strong {
        font-size: 16px;
    }

    .post-its ul,
    .post-its p {
        font-size: 13px;
    }

    .post-it .container {
        padding: 0 30px !important;
        width: 100%;
    }

    .post-it .subtitle,
    .post-it .strong {
        line-height: 1.2;
    }

    /* LINKS-BOX */

    .links-box {
        background-image: none !important;
    }

    .links-box,
    .variations-box {
        padding: 20px;
    }

    figure {
        margin: 0 auto;
    }

    iframe {
        max-width: 380px;
        height: 190px;
    }

    /* /// ABOUT /// */

    .label {
        margin-top: 110px;
    }

    .label.sticky {
        position: unset;
    }

    .about .content,
    .contact .content,
    .cousins .content {
        padding-top: 0px;
    }

    .about-bg {
        background-position: 15px 0%;
    }

}

/* /////////////// TABLET /////////////// */

@media screen and (min-width: 760px) and (max-width: 999px) {

    .h1 {
        font-size: 56px;
    }

    .tab-content .container,
    .content .container {
        padding-left: 35px;
        padding-right: 35px;
    }

    /* /// ACCORDION /// */

    /* /// 7 MECANIQUES /// */
    /* TITLE-BOX */

    .cousins .title-box div {
        display: none;
    }

    .title-box h2,
    .title-box div,
    .cousins .title-box h2,
    .cousins .title-box div {
        width: 100%;
    }

    /* / OBSERVATIONS / */
    /* BACKGROUND_IMG */

    .observations .bg img,
    .p .observations .bg img,
    .a .observations .bg img {
        width: 65%;
    }

    /* CE */
    .ce .observations .bg {
        height: 900px;
    }

    .observations .bg img.inter {
        left: -7%;
    }

    .observations .bg img.voyage {
        top: 420px;
    }

    /* MP */
    .mp .observations .bg {
        height: 1500px;
    }

    .observations .bg img.design {
        top: 30px;
    }

    .observations .bg img.coaching {
        top: 660px;
    }

    .observations .bg img.equipe {
        top: 1190px;
        right: -7%;
    }

    .observations .bg img.ethnographie {
        left: -7%;
    }

    /* P */
    .p .observations .bg {
        height: 760px;
    }

    .observations .bg img.rythmer {
        top: 420px;
        right: -5%;
    }

    /* A */
    .a .observations .bg {
        height: 1600px;
    }

    .observations .bg img.cohesion {
        width: 45%;
    }

    .observations .bg img.immersion {
        top: 410px;
    }

    .observations .bg img.ideation {
        top: 570px;
    }

    .observations .bg img.embassadeurs {
        top: 890px;
        left: 1%;
    }

    .observations .bg img.creation {
        top: 1190px;
    }

    /* CC */
    .cc .observations .bg {
        height: 2200px;
    }

    .observations .bg img.scolaire {
        top: 750px;
    }

    .observations .bg img.megotiers {
        top: 1050px;
        left: -7%;
    }

    .observations .bg img.bois {
        top: 1600px;
        right: 0%;
    }

    .observations .bg img.arbres {
        top: 1810px;
        left: -4%;
        z-index: 0;
    }

    /* E */
    .e .observations .bg {
        height: 1120px;
    }

    .observations .bg img.mulhouse {
        top: 330px;
    }

    .observations .bg img.e-paris {
        top: 790px;
        left: -2%;
    }

    /* FL */
    .fl .observations .bg {
        height: 1500px;
    }

    .observations .bg img.metz {
        top: 1270px;
    }

    .observations .bg img.paris {
        top: 970px;
        left: -4%;
    }

    .observations .bg img.dunkerque {
        top: 490px;
    }

    /* POST-IT */

    .post-it {
        width: 340px;
    }

    .post-it .container {
        width: 281px;
        padding: 0 !important;
    }

    .post-it .subtitle,
    .post-it .strong {
        line-height: 1.2;
    }

    /* CE */
    .post-it.contrat {
        right: 5%;
    }

    .post-it.co-financement {
        right: -1%;
    }

    .post-it.inter-collectivites {
        top: 410px;
        left: 3%;
    }

    .post-it.coordination {
        top: 710px;
        left: 47%;
    }

    .post-it.adhesion {
        top: 600px;
    }

    /* MP */
    .post-it.design {
        top: 0px;
        right: -2%;
        z-index: 3;
    }

    .post-it.coaching {
        top: 420px;
        right: 14%;
    }

    .post-it.sociologie {
        top: 350px;
        left: 0%;
    }

    .post-it.politiques {
        top: 940px;
    }

    .post-it.education {
        top: 1120px;
        left: 1%;
    }

    /* P */
    .post-it.travail {
        top: 20px;
        right: 12%;
    }

    .post-it.co-construction {
        top: 180px;
    }

    .post-it.pedagogie {
        top: 390px;
        left: -2%;
    }

    /* A */
    .post-it.second {
        top: 180px;
        right: 2%;
        z-index: 3;
    }

    .post-it.superieur {
        top: -20px;
        right: 14%;
    }

    .post-it.ouvert {
        top: 525px;
    }

    .post-it.semi-pro {
        top: 960px;
    }

    .post-it.collectif {
        top: 1120px;
    }

    .post-it.formation {
        left: 14%;
        top: 1370px;
    }

    /* CC */
    .post-it.metz {
        top: 320px;
        left: -2%;
    }

    .post-it.lille {
        top: -40px;
        right: 2%;
    }

    .post-it.mulhouse {
        top: 1130px;
        right: 10%;
        z-index: 3;
    }

    .post-it.strasbourg {
        top: 680px;
    }

    .post-it.paris {
        top: 1360px;
        left: 4%;
    }

    .post-it.dunkerque {
        top: 1810px;
    }

    /* E */
    .post-it.ecosysteme {
        top: -30px;
        right: 2%;
    }

    .post-it.acteurs {
        top: 360px;
        left: 1%;
    }

    .post-it.grand-est {
        top: 580px;
        left: 48%;
    }

    .post-it.e-dunkerque {
        top: 840px;
        right: -2%;
    }

    /* FL */
    .post-it.iterations {
        top: 50px;
        right: -2%;
    }

    .post-it.impliquation {
        top: 380px;
    }

    .post-it.exception {
        top: 930px;
        right: 0px;
    }

    /* / LINKS-BOX / */

    .links-box {
        background-size: 100px;
    }

    .temoignages .links-box {
        background-size: 80px;
    }

    .links-box.video {
        background-image: none !important;
        padding-top: 50px;
    }

    iframe {
        width: 500px;
        height: 250px;
    }

    /* / ABOUT / */

    .about-bg {
        background-position: 35px 20px;
        background-size: 90%;
    }

    .side.space {
        padding-bottom: 70%;
    }

}

@media screen and (min-width: 1000px) and (max-width: 1200px) {

    .h1 {
        font-size: 75px;
    }

    /* /// 7 MECANIQUES /// */

    /* / OBSERVATIONS / */
    /* IMG */
    /* CE */
    .ce .observations .bg {
        height: 1000px;
    }

    /* MP */
    .mp .observations .bg {
        height: 1400px;
    }

    .observations .bg img.design {
        top: 40px;
    }

    .observations .bg img.ethnographie {
        top: 680px;
    }

    .observations .bg img.equipe {
        top: 970px;
    }

    /* P */
    .p .observations .bg {
        height: 850px;
    }

    .observations .bg img.rythmer {
        top: 350px;
        right: 7%;
    }

    /* A */
    .a .observations .bg {
        height: 1500px;
    }

    .observations .bg img.embassadeurs {
        top: 840px;
    }

    .observations .bg img.creation {
        top: 1070px;
    }

    /* CC */
    .cc .observations .bg {
        height: 2200px;
    }

    .observations .bg img.volants {
        top: 40px;
    }

    .observations .bg img.scolaire {
        top: 720px;
    }

    .observations .bg img.megotiers {
        top: 1040px;
    }

    .observations .bg img.bois {
        top: 1500px;
        right: 0%;
    }

    .observations .bg img.arbres {
        top: 1730px;
    }

    /* E */
    .e .observations .bg {
        height: 1100px;
    }

    .observations .bg img.lille {
        top: 30px;
    }

    .observations .bg img.e-paris {
        top: 720px;
    }

    .observations .bg img.mulhouse {
        top: 340px;
        right: -13%;
    }

    /* FL */
    .fl .observations .bg {
        height: 1400px;
    }

    .observations .bg img.paris {
        top: 730px;
        left: 4%;
    }

    .observations .bg img.dunkerque {
        top: 360px;
    }

    .observations .bg img.metz {
        top: 1040px;
    }

    /* POST-IT */

    .post-it {
        width: 380px;
    }

    .post-it .container {
        width: 320px;
        padding: 0 !important;
    }

    /* CE */
    .post-it.inter-collectivites {
        top: 370px;
    }

    .post-it.adhesion {
        top: 590px;
    }

    .post-it.coordination {
        top: 720px;
        left: 41%;
    }

    /* MP */
    .post-it.design {
        top: 0px;
    }

    .post-it.coaching {
        top: 300px;
        right: -2%;
    }

    .post-it.sociologie {
        top: 400px;
    }

    .post-it.politiques {
        top: 800px;
    }

    .post-it.education {
        top: 1120px;
    }

    /* P */
    .post-it.travail {
        top: 20px;
    }

    .post-it.co-construction {
        top: 180px;
    }

    .post-it.pedagogie {
        top: 500px;
    }

    /* A */
    .post-it.second {
        top: 160px;
        z-index: 3;
    }

    .post-it.superieur {
        top: -40px;
    }

    .post-it.ouvert {
        top: 575px;
    }

    .post-it.semi-pro {
        top: 790px;
    }

    .post-it.collectif {
        top: 1080px;
    }

    .post-it.formation {
        top: 1320px;
    }

    /* CC */
    .post-it.metz {
        top: 300px;
    }

    .post-it.mulhouse {
        top: 1110px;
    }

    .post-it.strasbourg {
        top: 720px;
    }

    .post-it.paris {
        top: 1400px;
        left: 3%;
    }

    .post-it.dunkerque {
        top: 1800px;
    }

    /* E */
    .post-it.ecosysteme {
        top: 0px;
    }

    .post-it.acteurs {
        top: 310px;
    }

    .post-it.grand-est {
        top: 500px;
        left: 33%;
    }

    .post-it.e-dunkerque {
        top: 830px;
    }

    /* FL */
    .post-it.exception {
        top: 870px;
    }
}