/*/////////////// MOBIL & TABLET /////////////// */

@media screen and (max-width: 1200px) {

    /* INFO-BAND */

    .marquee-info {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        white-space: nowrap;
    }

    .marquee-info .marquee-info-content {
        width: 450%;
        position: relative;
        display: inline-block;
        animation: marquee 12s linear infinite;
    }

    .info-content,
    .h1 {
        display: flex;
    }

    .info-content span {
        display: block;
    }

    /* HEADER */

    section.show .tab-close,
    .label p {
        display: none;
    }

    /* 7 MECANIQUES */

    /* OBSERVATIONS */

    .post-its p,
    .post-it .strong,
    .post-it .subtitle,
    .post-its li {
        padding-top: 10px;
    }

}

/* /////////////// MOBIL /////////////// */

@media screen and (max-width: 599px) {
    .h1 {
        padding-left: 0px;
        font-size: 52px;
        line-height: 55px;
        width: 370px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    /* /// NAV BAR /// */

    .mainNav .nav_links {
        font-size: 16px;
    }

    .link-home {
        display: none;
    }

    /* /// ACCORDION /// */

    section>header,
    section.show>header {
        max-height: 120px;
    }

    section>header>.header-content,
    section.show>header>.header-content,
    section>header>.header-content .marquee,
    section.show>header>.header-content .marquee {
        white-space: normal;
        text-align: left;
    }

    .marquee .marquee-content {
        width: 100%;
        animation: none !important;
    }

    .marquee .marquee-content span {
        display: none;
    }

    .marquee .marquee-content span.fixed {
        display: flex;
    }

    .header.sticky {
        position: unset;
    }

    .header.sticky+.tab-content {
        padding-top: 0px;
    }

    /* /// 7 MECANIQUES /// */

    /* HYPOTHESE */

    .legende li {
        font-size: 18px;
    }

    .mini-img {
        background-size: 180px;
    }

    #experimental .mini-img,
    #multidisciplinary .mini-img,
    #involveAndForm .mini-img,
    #concreteCase .mini-img,
    #ecosysteme .mini-img,
    #project .mini-img {
        height: 300px;
    }

    #programRhythm .mini-img {
        height: 350px;
    }

    #experimental .hypothese .bg {
        background-size: 114%, 87%;
    }

    #multidisciplinary .hypothese .bg {
        background-size: 122%, 80%;
    }

    #multidisciplinary .fig {
        top: 54%;
    }

    #programRhythm .hypothese .bg {
        background-size: 125%, 90%;
    }

    #involveAndForm .hypothese .bg {
        background-size: 118%, 70%;
    }

    #concreteCase .hypothese .bg {
        background-size: 120%, 86%;
    }

    #concreteCase .fig {
        top: 65%;
    }

    #ecosysteme .hypothese .bg {
        background-size: 114%, 70%;
    }

    #ecosysteme .fig {
        /* left: 65%; */
    }

    #project .hypothese .bg {
        background-size: 114%, 64%;
    }

    #project .fig {
        left: 70%;
    }

    /* / OBSERVATIONS / */

    /* IMG */

    .observations .bg {
        max-width: 415px;
        height: 100% !important;
    }

    /* POST-ITS */
    .post-it {
        position: initial;
        width: 100%;
        max-width: 415px;
        min-height: 100%;
        margin: 0 auto;
    }

    /* LINKS-BOX */
    .links-box.video {
        padding: 50px;
    }

    .temoignages .links-box {
        padding: 20px 30px 50px 30px;
    }

    iframe {
        height: 150px;
    }

    /* ABOUT */
    .side,
    .illustrations ul {
        display: none;
    }

    .about-bg {
        background-image: none !important;
    }

    .intro-mobil {
        display: block;
        padding-bottom: 50px;
    }

    .intro-mobil p {
        padding-bottom: 20px;
    }

    .intro-mobil strong {
        color: #FF6E29;
        font-weight: bold;
    }

    .intro-mobil strong.black {
        color: #1C1B1B;
    }

    .general-bg {
        background-position: 50% 20%;
    }

    section.illustrations {
        padding-bottom: 0px;
    }

    .about-bg.bottom {
        padding-bottom: 10%;
    }

}

@media screen and (min-width: 600px) and (max-width: 759px) {

    body {
        font-size: 14px !important;
    }

    .h1 {
        font-size: 56px;
    }

    /* /// ACCORDION /// */

    section.show>header {
        display: flex;
        min-height: 95px;
        max-height: 120px;
    }

    section.show>header .h1 {
        font-size: 52px;
        line-height: 55px;
        width: 370px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    section.show>header>.header-content,
    section.show>header>.header-content .marquee {
        white-space: normal;
        margin: auto 0;
        text-align: left;
    }

    .sticky+.tab-content {
        transition: all 0s;
        padding-top: 120px;
    }

    /* /// 7 MECANIQUES /// */
    /* HYPOTHESE */

    .legende li {
        font-size: 20px;
    }

    #multidisciplinary .hypothese .bg {
        background-size: 114%, 75%;
    }

    #programRhythm .hypothese .bg {
        background-size: 114%, 82%;
    }

    /* / OBSERVATIONS / */

    .observations .bg img#ideation,
    .observations .bg img#laboDunkerque {
        display: none;
    }

    /* POST-ITS */
    .post-it {
        min-height: 0px;
    }

    /* EXPERIMENTAL */
    #inter-collectivites {
        top: 430px;
    }

    #coordination {
        top: 570px;
    }

    /* PLURIDISCIPLINARY */
    #multidisciplinary .post-it {
        transform: translate(0px, 250px);
    }

    #coaching {
        top: 410px;
    }

    #sociology {
        top: 630px;
    }

    #politics {
        top: 930px;
    }

    /* INVOLVE AND FORM */
    #superior {
        top: 370px;
    }

    /* ECOSYSTEM */
    #grand-est {
        top: 700px;
    }

    /* PROJECT */
    #involvement {
        top: 400px;
    }

    /* LINKS-BOX */

    .temoignages .links-box {
        padding-top: 50px;
    }

    iframe {
        height: 190px;
    }

    /* ABOUT */
    section.illustrations {
        padding-bottom: 0;
    }

    .general-bg {
        background-position: 50% 40%;
    }

    .about-bg {
        background-size: 90%;
    }

    .side {
        min-width: 150px;
        max-width: 23%;
    }

    .about-bg.top {
        background-position: 15px 10%;
        padding-top: 0%;
        padding-bottom: 35%;
    }

    .about-bg.bottom {
        padding-top: 30%;
        padding-bottom: 30%;
    }
}

@media screen and (max-width: 759px) {

    body,
    .title-box p {
        font-size: 14px !important;
    }

    h2 {
        font-size: 29px;
    }

    h3 {
        font-size: 21px;
        text-align: left;
    }

    .mainNav .container,
    .label .container,
    .tab-content .container,
    .content .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* /// NAV-BAR /// */

    .mainNav nav {
        height: 110px;
    }

    .mainNav nav,
    .logo_ctn {
        display: block;
    }

    .mainNav .nav_links li {
        padding-left: 0;
    }

    .mainNav .nav_links {
        height: 10px;
        /* margin: 0 auto; */
        white-space: nowrap;
    }

    .logo_ctn {
        display: flex;
        margin: auto;
        height: 80px;
        width: 100%;
        max-width: 500px;
    }

    /* /// ACCORDION /// */

    .tabs {
        padding-top: 140px;
    }

    .h1,
    .marquee .h1 {
        padding-left: 15px;
        margin: 0;
    }

    .marquee .h1 span.fixed {
        padding-left: 0px;
    }

    .header.sticky {
        top: 140px;
    }

    /* /// 7 MECANIQUES /// */

    .sheet {
        font-size: 24px;
    }

    article {
        padding-bottom: 100px;
    }

    /* TITLE-BOX */

    .cousins .title-box div {
        display: none;
    }

    .title-box h2,
    .title-box div,
    .cousins .title-box h2,
    .cousins .title-box div {
        width: 100%;
    }

    .title-box {
        align-items: center;
        margin-bottom: 50px;
    }

    .title-box h2 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .title-box p {
        font-size: 14px;
    }

    /* HYPOTHESE */
    .legende {
        margin-bottom: 50px;
    }

    .fig,
    .fig-cs {
        font-size: 35px;
    }

    /* OBSERVATIONS */

    .legende a {
        color: #FF6E29;
    }

    .subtitle {
        font-size: 16px;
        text-align: left;
    }

    /* IMG */

    .observations .bg {
        height: 100% !important;
    }

    .observations .bg img {
        position: unset;
        width: 100% !important;
        margin-bottom: -5px;
    }

    /* POST-IT */

    .post-it .subtitle,
    .post-it .strong {
        font-size: 16px;
    }

    .post-its ul,
    .post-its p {
        font-size: 13px;
    }

    .post-it .container {
        padding: 0 30px !important;
        width: 100%;
    }

    .post-it .subtitle,
    .post-it .strong {
        line-height: 1.2;
    }

    /* LINKS-BOX */

    .links-box {
        background-image: none !important;
    }

    .links-box,
    .variations-box {
        padding: 20px;
    }

    iframe {
        max-width: 380px;
    }

    /* /// ABOUT /// */

    .label {
        margin-top: 110px;
    }

    .label.sticky {
        position: unset;
    }

    .about .content,
    .faq .content,
    .cousins .content {
        padding-top: 0px;
    }

    .about-bg {
        background-position: 15px 0%;
    }

}

/* /////////////// TABLET /////////////// */

@media screen and (min-width: 760px) and (max-width: 999px) {
    body {
        font-size: 16px;
    }

    .h1 {
        font-size: 56px;
    }

    .tab-content .container,
    .content .container {
        padding-left: 35px;
        padding-right: 35px;
    }

    /* /// NAV BAR /// */

    .mainNav .nav_links {
        font-size: 16px;
    }

    .mainNav .nav_links li {
        padding-left: 15px;
    }

    /* /// ACCORDION /// */

    /* /// 7 MECANIQUES /// */
    /* TITLE-BOX */

    .cousins .title-box div {
        display: none;
    }

    .title-box h2,
    .title-box div,
    .cousins .title-box h2,
    .cousins .title-box div {
        width: 100%;
    }

    /* / OBSERVATIONS / */

    .legende a {
        color: #FF6E29;
    }

    /* IMG */

    .observations .bg img,
    #programRhythm .observations .bg img,
    #involveAndForm .observations .bg img {
        width: 65%;
    }

    /* EXPERIMENTAL */
    #experimental .observations .bg {
        height: 900px;
    }

    #intertransfo {
        left: -7%;
    }

    #studyTrip {
        top: 420px;
        right: -3%;
    }

    /* PLURIDISCIPLINARY */
    #multidisciplinary .observations .bg {
        height: 1500px;
    }

    #designProto {
        top: 30px;
    }

    #coachingParis {
        top: 630px;
    }

    .observations .bg img#ethnography {
        top: 780px;
        left: -7%;
    }

    #team {
        top: 1210px;
        right: -4%;
    }

    /* PROGRAM-RHYTHM */
    #programRhythm .observations .bg {
        height: 760px;
    }

    #rhythmExercice {
        top: 420px;
        right: -5%;
    }

    /* INVOLVE AND FORM */
    #involveAndForm .observations .bg {
        height: 1600px;
    }

    .observations .bg img.cohesion {
        width: 45%;
    }

    #immersion {
        top: 410px;
    }

    .observations .bg img#ideation {
        top: 570px;
    }

    #ambassadors {
        top: 890px;
        left: 1%;
    }

    .observations .bg img#creation {
        top: 1240px;
    }

    /* CC */
    #concreteCase .observations .bg {
        height: 2200px;
    }

    .observations .bg img#strasbourgCase {
        top: 750px;
    }

    #mulhouseCase {
        top: 1050px;
        left: -7%;
    }

    #dunkerqueCase {
        top: 1600px;
        right: 0%;
    }

    .observations .bg img#parisCase {
        top: 1810px;
        left: -4%;
        z-index: 0;
    }

    /* ECOSYSTEM */
    #ecosysteme .observations .bg {
        height: 1120px;
    }

    #mulhouseAgents {
        top: 330px;
    }

    #exhibition {
        top: 790px;
        left: -2%;
    }

    /* PROJECT */
    #project .observations .bg {
        height: 1500px;
    }

    #laboMetz {
        top: 1270px;
    }

    #parisLetter {
        top: 970px;
        left: -4%;
    }

    .observations .bg img#laboDunkerque {
        top: 490px;
    }

    /* POST-IT */

    .post-it {
        width: 340px;
    }

    .post-it .container {
        width: 281px;
        padding: 0 !important;
    }

    .post-it .subtitle,
    .post-it .strong {
        line-height: 1.2;
    }

    /* EXPERIMENTAL */
    #contrat {
        right: 5%;
    }

    #co-financement {
        right: -1%;
    }

    #inter-collectivites {
        top: 410px;
        left: 3%;
    }

    #coordination {
        top: 710px;
        left: 47%;
    }

    #adhesion {
        top: 600px;
    }

    /* PLURIDISCIPLINARY */
    #design {
        top: 0px;
        right: 0%;
        z-index: 3;
    }

    #coaching {
        top: 400px;
        right: 14%;
    }

    #sociology {
        top: 350px;
        left: 0%;
    }

    #politics {
        top: 920px;
    }

    /* PROGRAM-RHYTHM */
    #workTime {
        top: 20px;
        right: 12%;
    }

    #co-construction {
        top: 180px;
    }

    #pedagogy {
        top: 390px;
        left: -2%;
    }

    /* INVOLVE AND FORM */
    #secondCircle {
        top: 180px;
        right: 2%;
        z-index: 3;
    }

    #superior {
        top: -20px;
        right: 14%;
    }

    #openGroup {
        top: 525px;
    }

    #semi-pro {
        top: 960px;
    }

    #collectif {
        top: 1120px;
    }

    #formation {
        left: 14%;
        top: 1370px;
    }

    /* CC */
    #metz {
        top: 320px;
        left: -2%;
    }

    #lille {
        top: -40px;
        right: 2%;
    }

    #mulhouse {
        top: 1130px;
        right: 10%;
        z-index: 3;
    }

    #strasbourg {
        top: 680px;
    }

    #parisTree {
        top: 1360px;
        left: 4%;
    }

    #dunkerque {
        top: 1810px;
    }

    /* ECOSYSTEM */
    #ecosystem {
        top: -30px;
        right: 2%;
    }

    #actors {
        top: 360px;
        left: 1%;
    }

    #grand-est {
        top: 580px;
        left: 48%;
    }

    #newProject {
        top: 840px;
        right: -2%;
    }

    /* PROJECT */
    #iterations {
        right: -2%;
    }

    #involvement {
        top: 380px;
    }

    #exception {
        top: 930px;
        right: 0px;
    }

    /* / LINKS-BOX / */

    .links-box {
        background-size: 120px;
    }

    .temoignages .links-box {
        background-size: 100px;
    }

    .links-box.video {
        background-image: none !important;
        padding-top: 50px;
    }

    iframe {
        width: 500px;
        height: 250px;
    }

    /* / ABOUT / */
    section.illustrations {
        padding-bottom: 50px;
    }

    .general-bg {
        background-position: 50% 42%;
    }

    .about-bg {
        background-position: 35px 20px;
        background-size: 85%;
    }

    .about-bg.bottom {
        padding-bottom: 30%;
    }

}

@media screen and (min-width: 1000px) and (max-width: 1200px) {

    .h1 {
        font-size: 75px;
    }

    /* /// 7 MECANIQUES /// */

    /* / OBSERVATIONS / */
    /* IMG */
    /* EXPERIMENTAL */
    #experimental .observations .bg {
        height: 1000px;
    }

    /* PLURIDISCIPLINARY */
    #multidisciplinary .observations .bg {
        height: 1400px;
    }

    #designProto {
        top: 40px;
    }

    .observations .bg img#ethnography {
        top: 680px;
    }

    #team {
        top: 970px;
    }

    /* PROGRAM-RHYTHM */
    #programRhythm .observations .bg {
        height: 850px;
    }

    #rhythmExercice {
        top: 420px;
    }

    /* INVOLVE AND FORM */
    #involveAndForm .observations .bg {
        height: 1500px;
    }

    #ambassadors {
        top: 840px;
    }

    .observations .bg img#creation {
        top: 1070px;
    }

    /* CC */
    #concreteCase .observations .bg {
        height: 2200px;
    }

    #metzCase {
        top: 40px;
    }

    .observations .bg img#strasbourgCase {
        top: 720px;
    }

    #mulhouseCase {
        top: 1040px;
    }

    #dunkerqueCase {
        top: 1500px;
        right: 0%;
    }

    #parisCase {
        top: 1730px;
    }

    /* ECOSYSTEM */
    #ecosysteme .observations .bg {
        height: 1100px;
    }

    #lilleInspiration {
        top: 30px;
    }

    #exhibition {
        top: 720px;
    }

    #mulhouseAgents {
        top: 340px;
        right: -13%;
    }

    /* PROJECT */
    #project .observations .bg {
        height: 1400px;
    }

    #parisLetter {
        top: 730px;
        left: 4%;
    }

    .observations .bg img#laboDunkerque {
        top: 360px;
    }

    #laboMetz {
        top: 1040px;
    }

    /* POST-IT */

    .post-it {
        width: 380px;
    }

    .post-it .container {
        width: 320px;
        padding: 0 !important;
    }

    /* EXPERIMENTAL */
    #inter-collectivites {
        top: 370px;
    }

    #adhesion {
        top: 590px;
    }

    #coordination {
        top: 720px;
        left: 41%;
    }

    /* PLURIDISCIPLINARY */
    #design {
        top: 0px;
    }

    #coaching {
        top: 300px;
        right: -2%;
    }

    #sociology {
        top: 400px;
    }

    #politics {
        top: 800px;
    }

    #education {
        top: 1120px;
    }

    /* PROGRAM-RHYTHM */
    #workTime {
        top: 20px;
    }

    #co-construction {
        top: 180px;
    }

    #pedagogy {
        top: 500px;
    }

    /* INVOLVE AND FORM */
    #secondCircle {
        top: 160px;
        z-index: 3;
    }

    #superior {
        top: -40px;
    }

    #openGroup {
        top: 575px;
    }

    #semi-pro {
        top: 790px;
    }

    #collectif {
        top: 1080px;
    }

    #formation {
        top: 1320px;
    }

    /* CC */
    #metz {
        top: 300px;
    }

    #mulhouse {
        top: 1110px;
    }

    #strasbourg {
        top: 720px;
    }

    #parisTree {
        top: 1400px;
        left: 3%;
    }

    #dunkerque {
        top: 1800px;
    }

    /* ECOSYSTEM */
    #ecosystem {
        top: 0px;
    }

    #actors {
        top: 310px;
    }

    #grand-est {
        top: 500px;
        left: 33%;
    }

    #newProject {
        top: 830px;
    }

    /* PROJECT */
    #exception {
        top: 870px;
    }
}