/* GLOBAL */

@font-face {
    font-family: 'misobold';
    src: url('../fonts/misobold/miso-bold-webfont.ttf') format('truetype'),
        url('../fonts/misobold/miso-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'termes';
    src: url('../fonts/termes/texgyretermes-regular-webfont.woff') format('woff'),
        url('../fonts/termes/texgyretermes-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'termes';
    src: url('../fonts/termes/texgyretermes-bold-webfont.woff') format('woff'),
        url('../fonts/termes/texgyretermes-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'termes';
    src: url('../fonts/termes/texgyretermes-bolditalic-webfont.woff') format('woff'),
        url('../fonts/termes/texgyretermes-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: 'termes', serif;
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
}

.dark {
    background: #1C1B1B;
}

.light {
    background: #F8F8F8;
}

h1,
.h1,
h2,
h3,
h4 {
    font-family: 'misobold', sans-serif;
    text-transform: uppercase;
}

.h1 {
    font-size: 88px;
    line-height: 95px;
    padding-left: 35px;
    max-width: 1300px;
    margin: 0 auto;
}

h2 {
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 0;
}

h3 {
    font-size: 24px;
    margin: 12px auto 8px;
}

strong {
    font-weight: bold;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

.container {
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1270px;
}

.mainNav .container,
.label .container {
    padding: 0 35px;
}

.tab-content .container,
.content .container {
    max-width: 840px;
}

article {
    padding-bottom: 150px;
}

/* ////////////////////// HEADER ////////////////////// */

/* NAVBAR */
.mainNav,
.mainNav nav {
    background-color: #1C1B1B;
    z-index: 5;
}

.logo_ctn {
    width: 250px;
    height: 100%;
    align-items: center;
}

.mainNav nav,
.mainNav .nav_links,
.logo_ctn {
    display: flex;
}

.mainNav nav,
.mainNav .nav_links {
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.mainNav .nav_links {
    font-family: sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.mainNav .nav_links li {
    padding-left: 20px;
}

.mainNav .nav_links a {
    text-decoration: none;
    color: #F8F8F8;
    text-transform: uppercase;
}

.mainNav .nav_links:hover a,
.mainNav .nav_links:hover a.orange {
    color: #F8F8F8;
    transition: all 0.7s;
}

.mainNav .nav_links a.orange {
    color: #FF6E29;
    transition: all 0.7s;
}

.mainNav .nav_links:hover .hover_orange:hover {
    color: #FF6E29;
    transition: all 0.7s;
}

/* INFO BAND */

.information {
    display: flex;
    background-color: #FF6E29;
    width: 100%;
    height: 30px;
    overflow: hidden;
    align-items: center;
}

.info-content {
    font-size: 20.5px;
    padding-bottom: 2px;
    white-space: nowrap;
    height: 30px;
    margin: 0 auto;
}

.info-content span {
    padding-left: 10px;
    display: none;
}

/* ////////////////////// MAIN ////////////////////// */

/* //////// ACCORDION ///////// */

.tabs {
    overflow: hidden;
    padding-top: 100px;
}

.tab {
    color: #F8F8F8;
    border-bottom: 1px solid #F8F8F8;
}

.tab-content {
    overflow: hidden;
    max-height: 0;
    color: #1C1B1B;
    background: #F8F8F8;
    transition: all 0.35s;
}

section.section0 {
    height: 0px;
}

section>header {
    width: 100%;
    max-height: 95px;
    background: #1C1B1B;
    color: #F8F8F8;
    border-bottom: 2px dashed #1C1B1B;
    cursor: pointer;
}

.tab-close {
    display: none
}

section.show .tab-close {
    display: block;
    position: absolute;
    font-family: "misobold", sans-serif;
    font-size: 30px;
    right: 35px;
    bottom: 10px;
}

section>header>.header-content {
    position: relative;
    max-width: 100%;
    white-space: nowrap;
    justify-content: space-between;
    margin: auto;
}

section>header:hover,
section.show header {
    color: #1C1B1B;
    transition: all .2s ease-in-out;
}

section>header:hover span {
    -webkit-text-stroke: 1px #F8F8F8;
}

section.show header {
    background-color: #F8F8F8;
    z-index: 10;
}

section.show header:hover span {
    -webkit-text-stroke: 0px #1C1B1B;
}

section.show .tab-content {
    max-height: 2200vh;
}

/* MARQUEE */

.marquee .marquee-content {
    width: 50%;
    position: relative;
    display: inline-block;
    animation: marquee 8s linear infinite;
}

.marquee .h1 span {
    padding-left: 15px;
}

.marquee .h1 {
    animation: swap 15s linear infinite;
    padding-left: 20px;
}

.marquee-content .fixed,
.marquee .marquee-content span,
section.show .tab-close {
    display: initial;
}

.marquee-content span {
    display: none;
}

@keyframes swap {

    0%,
    50% {
        right: 0%;
    }

    50.01%,
    100% {
        left: 0%;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0%)
    }

    100% {
        transform: translateX(-100%)
    }
}

/* STICKY */

.sticky {
    position: fixed;
    width: 100%;
}

.mainNav.sticky {
    top: 0px;
}

.label.sticky {
    top: 70px;
    z-index: 1;
}

.header.sticky {
    top: 100px;
    transition: all 0s;
}

.tab-content {
    transition: all 0s;
    padding-top: 0px;
}

.sticky+.tab-content {
    transition: all 0s;
    padding-top: 99.5px;
}

/* //////// 7 MECANIQUES ///////// */

.title-box {
    display: flex;
    border-top: 2px solid;
    border-bottom: 2px solid;
    margin-bottom: 100px;
    padding: 15px 0;
}

.title-box.first {
    border-top: none;
}

.title-box div {
    width: 40%
}

.cousins .title-box div {
    width: 25%;
}

.title-box h2 {
    width: 60%;
    text-align: left;
}

.cousins .title-box h2 {
    width: 75%;
}

.title-box p {
    font-family: "misobold", sans-serif;
    font-size: 24px;
    text-align: end;
    margin: 0;
}

.sheet {
    font-family: "misobold", sans-serif;
    font-size: 30px;
    text-align: center;
    padding-bottom: 70px;
}

.tab .sheet {
    text-transform: uppercase;
}

.subtitle,
.post-it .strong,
.enseignements ul strong {
    font-style: italic;
    font-weight: bold;
}

/*///// HYPOTHESE /////*/

.mini-img,
.bg,
.links-box {
    background-repeat: no-repeat;
}

.mini-img {
    margin-left: auto;
    background-position: right 0%;
    background-size: 280px;
}

.fig,
.fig-cs {
    font-family: "misobold", sans-serif;
    text-transform: uppercase;
    line-height: 0;
    margin-top: 0;
    font-size: 45px;
}

.fig-cs {
    text-align: end;
}

#concreteCase .mini-img,
#project .mini-img {
    height: 350px;
}

#experimental .mini-img,
#multidisciplinary .mini-img,
#involveAndForm .mini-img,
#ecosysteme .mini-img {
    height: 400px;
}

#programRhythm .mini-img,
#ecosysteme .mini-img {
    height: 450px;
}

.hypothese .bg {
    position: relative;
}

.hypothese span {
    color: #FF6E29;
}

.fig {
    position: absolute;
}

.hypothese .bg {
    background-position: left 50%, left 50%;
}

#experimental .hypothese .bg {
    background-size: 100%, 76%;
}

#experimental .fig {
    top: 75%;
    left: 14%;
}

#multidisciplinary .hypothese .bg {
    background-position: left 20%, left 20%;
    background-size: 100%, 66%;
}

#multidisciplinary .fig {
    top: 60%;
    left: 5%;
}

#programRhythm .hypothese .bg {
    background-position: left 70%, left 70%;
    background-size: 100%, 73%;
}

#programRhythm .fig {
    top: 15%;
    left: 3%;
}

#involveAndForm .hypothese .bg {
    background-size: 100%, 60%;
}

#involveAndForm .fig {
    top: 25%;
    left: 10%;
}

#concreteCase .hypothese .bg {
    background-position: left 30%, left 30%;
    background-size: 100%, 71%;
}

#concreteCase .fig {
    top: 75%;
    left: 15%;
}

#ecosysteme .hypothese .bg {
    background-size: 100%, 62%;
}

#ecosysteme .fig {
    top: 65%;
    left: 0%;
}

#project .hypothese .bg {
    background-size: 100%, 54%;
}

#project .fig {
    top: 50%;
    left: 60%;
}

.legende {
    margin-bottom: 100px;
}

.legende li {
    font-size: 26px;
    font-style: italic;
    text-align: end;
    margin: 0;
}

.legende a {
    text-decoration: none;
    color: #1C1B1B;
}

.legende a:hover {
    color: #FF6E29;
}

/*///// OBSERVATIONS /////*/

.subtitle {
    font-family: 'termes', serif;
    font-size: 22px;
}

/* IMG */

.observations .bg {
    max-width: 1300px;
    margin: 0 auto;
}

.observations .bg img {
    position: absolute;
    width: 55%;
    z-index: 1;
}

/* EXPERIMENTAL */
#experimental .observations .bg {
    height: 1100px;
}

#intertransfo {
    top: 0px;
    left: 0%;
}

#studyTrip {
    top: 450px;
    right: 0%;
}

/* PLURIDISCIPLINARY */
#multidisciplinary .observations .bg {
    height: 1550px;
}

#designProto {
    top: 0px;
    left: -5%;
}

#coachingParis {
    top: 500px;
    right: -2%;
}

#team {
    top: 1080px;
    right: 4%;
}

.observations .bg img#ethnography {
    top: 750px;
    left: 4%;
    z-index: 0;
}

/* PROGRAM-RHYTHM */
#programRhythm .observations .bg {
    height: 1000px;
}

#programRhythm .observations .bg img {
    width: 60%;
}

.observations .bg img#timeline {
    top: 50px;
    left: 0%;
    z-index: 0;
}

#rhythmExercice {
    top: 500px;
    right: 0%;
}

/* INVOLVE AND FORM */
#involveAndForm .observations .bg {
    height: 1750px;
}

.observations .bg img.cohesion {
    width: 40%;
    top: 0px;
    left: 0%;
}

#immersion {
    top: 270px;
    right: -9%;
}

.observations .bg img#ideation {
    top: 510px;
    right: 9%;
    z-index: 0;
}

#ambassadors {
    top: 950px;
    left: 3%;
}

.observations .bg img#creation {
    top: 1280px;
    right: 0%;
    z-index: 0;
}

/* CONCRETECASE */
#concreteCase .observations .bg {
    height: 2500px;
}

#metzCase {
    top: 50px;
    left: 0%;
}

#amelio {
    top: 360px;
    right: 0%;
}

#mulhouseCase {
    top: 1180px;
    left: -4%;
}

.observations .bg img#strasbourgCase {
    top: 800px;
    left: 10%;
    z-index: 0;
}

#dunkerqueCase {
    top: 1670px;
    right: 5%;
}

#parisCase {
    top: 1940px;
    left: 0%;
}

/* ECOSYSTEM */
#ecosysteme .observations .bg {
    height: 1300px;
}

#lilleInspiration {
    top: 0px;
    left: 0%;
}

#mulhouseAgents {
    top: 410px;
    right: -5%;
}

#exhibition {
    top: 770px;
    left: 5%;
}

/* PROJECT */

#project .observations .bg {
    height: 1500px;
}

#prefiguration {
    top: 50px;
    left: 0%;
}

.observations .bg img#laboDunkerque {
    top: 400px;
    right: -5%;
    z-index: 0;
}

#parisLetter {
    top: 780px;
    left: 8%;
}

#laboMetz {
    top: 1110px;
    right: 17%;
}

/* / POST-ITS / */

.post-its {
    position: relative;
    text-align: left;
}

.post-it {
    z-index: 2;
    position: absolute;
    background-color: #FFB18C;
    width: 420px;
    min-height: 280px;
    padding: 20px 0 50px 0;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
    outline: 2px dashed #1C1B1B;
    outline-offset: -12px;
}

.post-it .container {
    width: 361px;
}

.post-it .subtitle,
.post-it .strong {
    font-size: 16px;
}

.post-its ul,
.post-its p {
    font-size: 14px;
}

.post-its li ul,
.post-its p {
    margin-top: 0;
}

.post-its ul,
.post-its p {
    margin-bottom: 0;
}

.post-its p,
.post-it .strong,
.post-it .subtitle,
.post-its li {
    padding-top: 20px;
}

.post-its li li,
.post-its li p {
    padding-top: 0;
}

.post-its p.links {
    text-align: center;
    padding-top: 30px;
}

.post-its a {
    text-decoration: none;
    line-height: 24px;
    font-size: 18px;
    color: #FF6E29;
}

.post-its a:hover {
    font-weight: bold;
}

.anchor {
    display: block;
    position: relative;
    top: -220px;
    visibility: hidden;
}

/* EXPERIMENTAL */

#contrat {
    top: 35px;
    right: 16%;
}

#co-financement {
    top: 210px;
    right: 5%;
}

#inter-collectivites {
    top: 470px;
    left: 9%;
}

#coordination {
    top: 820px;
    left: 35%;
}

#adhesion {
    top: 690px;
    left: -1%;
}

/* PLURIDISCIPLINARY */

#design {
    top: 30px;
    right: 24%;
}

#coaching {
    top: 350px;
    right: 3%;
}

#sociology {
    top: 430px;
    left: 2%;
}

#politics {
    top: 870px;
    right: 2%;
}

#education {
    top: 1140px;
    left: -1%;
}

/* PROGRAM-RHYTHM */

#intervention {
    top: 0px;
    right: 24%;
}

#workTime {
    top: 210px;
    right: 2%;
}

#adjustements {
    top: 560px;
    left: 2%;
}

/* INVOLVE AND FORM */

#secondCircle {
    top: 160px;
    right: 33%;
}

#superior {
    top: -10px;
    right: 4%;
}

#openGroup {
    top: 635px;
    left: -1%;
}

#semi-pro {
    top: 930px;
    right: 2%;
}

#collectif {
    top: 1280px;
    left: 5%;
}

#formation {
    top: 1520px;
    left: 24%;
}

/*  CONCRETE CASE */

#metz {
    top: 370px;
    left: 6%;
}

#lille {
    top: -10px;
    right: 7%;
}

#mulhouseButchers {
    top: 1180px;
    right: 20%;
}

#strasbourg {
    top: 810px;
    right: 0%;
}

#parisTree {
    top: 1610px;
    left: 11%;
}

#dunkerque {
    top: 2040px;
    right: 2%;
}

/* ECOSYSTEM */

#ecosystem {
    top: 50px;
    right: 6%;
}

#actors {
    top: 370px;
    left: -1%;
}

#grand-est {
    top: 560px;
    left: 29%;
}

#newProject {
    top: 930px;
    right: 11%;
}

/* PROJECT */

#iterations {
    top: 0px;
    right: 5%;
}

#involvement {
    top: 300px;
    left: 2%;
}

#exception {
    top: 970px;
    right: 2%;
}

/*///// ENSEIGNEMENTS /////*/

.enseignements ul,
.observations ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

.enseignements li {
    margin-top: 12px;
}

.enseignements h3+p {
    margin: 0;
}

/*///// ENSEIGNEMENTS /////*/

.challenge span {
    display: inline-block;
    font-family: "misobold", sans-serif;
    text-transform: uppercase;
    color: #FF6E29;
    width: 80px;
}

#programRhythm .challenge span {
    width: auto;
}

/*///// DASHED-BOXES ( VARIATIONS - OUTILS - TEMOIGNAGES ) /////*/

.links-box {
    background-size: 160px;
    background-position: 5% 50%, 95% 50%;
    text-align: center;
    width: 100%;
    padding: 50px;
    outline: 2px dashed #1C1B1B;
}

.temoignages .links-box {
    background-size: 140px;
}

.links-box.audio {
    padding: 95px;
    padding-top: 50px;
}

.links-box.video {
    background-position: 21% 40px, 78% 40px;
    background-size: 180px;
    padding: 95px;
    padding-top: 160px;
}

#involveAndForm .links-box.video {
    margin-top: 100px;
}

.links-box figure {
    z-index: 0;
    padding-top: 30px;
    margin: 0 auto;
}

.links-box figcaption {
    color: #FF6E29;
    padding-bottom: 20px;
}

iframe {
    width: 100%;
    height: 330px;
    border: 2px solid #1C1B1B;
}

audio {
    width: 420px;
    max-width: 90%;
    height: 50px;
    background: #403b3b;
    padding: 5px;
    border-radius: 30px;
}

.links-box a {
    text-decoration: none;
    line-height: 24px;
    color: #FF6E29;
}

.links-box a:hover {
    font-weight: bold;
}

:focus {
    outline: none;
}

/* ////////////////////// NAV-LINKS PAGES ////////////////////// */

.label {
    height: 110px;
    background-color: #F8F8F8;
    border-bottom: 2px dashed #1C1B1B;
}

.label .container {
    display: flex;
}

.label .container div {
    max-width: 100%;
    min-width: 90%;
}

.label .logo {
    max-height: 100px;
}

.label p {
    text-align: end;
    width: 10%;
    margin-top: 60px;
}

.label a {
    font-family: "misobold", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #1C1B1B;
}

.main-intro {
    padding-bottom: 100px;
}

.intro {
    padding-bottom: 50px;
}

.intro a {
    line-height: 24px;
    text-decoration: none;
    color: #FF6E29;
}

.intro a:hover {
    font-weight: bold;
}

/*///// ABOUT /////*/

.about .content,
.faq .content,
.cousins .content {
    padding-top: 180px;
}

.about article,
.faq article {
    padding-bottom: 0px;
}

.about section {
    padding-bottom: 100px;
}

.side {
    min-width: 230px;
    max-width: 26%;
    text-align: right;
    margin-left: auto;
}

.side.definition {
    max-width: 29%;
}

.illustrations li {
    text-align: right;
}

.illustrations li p {
    margin: 0;
    font-weight: bold;
}

.illustrations li p:hover span {
    color: #FF6E29;
    cursor: pointer;
}

.definition {
    font-style: italic;
}

.intro-mobil {
    display: none;
}

.general-bg {
    background-position: 50% 38%;
    background-size: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

.about-bg {
    background-position: 0% 0%;
    background-size: 100%;
}

.about-bg.top {
    padding-top: 4%;
    padding-bottom: 40%;
}

.about-bg.bottom {
    padding-top: 65%;
    padding-bottom: 4%;
}

.contact ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.contact li {
    padding-left: 15px;
    max-height: 56px;
}

.contact img {
    max-height: 56px;
    padding: 3px 0;
}

.goToSection {
    line-height: 24px;
    color: #FF6E29;
}

.goToSection:hover {
    font-weight: bold;
    cursor: pointer;
}

/*///// CONTACT /////*/

.faq .links-box {
    margin-bottom: 70px;
}

/*///// COUSINS /////*/