/* GLOBAL */

@font-face {
    font-family: 'misobold';
    src: url('../fonts/misobold/miso-bold-webfont.ttf') format('truetype'),
        url('../fonts/misobold/miso-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'termes';
    src: url('../fonts/termes/texgyretermes-regular-webfont.woff') format('woff'),
        url('../fonts/termes/texgyretermes-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'termes';
    src: url('../fonts/termes/texgyretermes-bold-webfont.woff') format('woff'),
        url('../fonts/termes/texgyretermes-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'termes';
    src: url('../fonts/termes/texgyretermes-bolditalic-webfont.woff') format('woff'),
        url('../fonts/termes/texgyretermes-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: 'termes', serif;
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
}

.dark {
    background: #1C1B1B;
}

.light {
    background: #F8F8F8;
}

h1,
.h1,
h2,
h3,
h4 {
    font-family: 'misobold';
    text-transform: uppercase;
}

.h1 {
    font-size: 88px;
    line-height: 95px;
    padding-left: 35px;
    max-width: 1300px;
    margin: 0 auto;
}

h2 {
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 0;
}

h3 {
    font-size: 24px;
    margin: 12px auto 8px;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

.container {
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1270px;
}

.mainNav .container,
.label .container {
    padding: 0 35px;
}

.tab-content .container,
.content .container {
    max-width: 840px;
}

article {
    padding-bottom: 150px;
}

/* ////////////////////// HEADER ////////////////////// */

/* NAVBAR */
.mainNav,
.mainNav nav {
    background-color: #1C1B1B;
    z-index: 5;
}

.logo_ctn {
    width: 250px;
    height: 100%;
    align-items: center;
}

.mainNav nav,
.mainNav .nav_links,
.logo_ctn {
    display: flex;
}

.mainNav nav,
.mainNav .nav_links {
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.mainNav .nav_links {
    font-family: sans-serif;
    font-weight: light;
    font-size: 18px;
}

.mainNav .nav_links li {
    padding-left: 20px;
}

.mainNav .nav_links a {
    text-decoration: none;
    color: #F8F8F8;
    text-transform: uppercase;
}

.mainNav .hover_orange:hover,
.mainNav .nav_links .orange {
    color: #FF6E29;
}

/* INFO BAND */

.information {
    display: flex;
    background-color: #FF6E29;
    width: 100%;
    height: 30px;
    overflow: hidden;
    align-items: center;
}

.info-content {
    font-size: 18.8px;
    padding-bottom: 2px;
    white-space: nowrap;
    height: 30px;
    margin: 0 auto;
}

.info-content span {
    padding-left: 10px;
    display: none;
}

/* ////////////////////// MAIN ////////////////////// */

/* //////// ACCORDION ///////// */

.tabs {
    overflow: hidden;
    padding-top: 100px;
}

.tab {
    color: #F8F8F8;
    border-bottom: 1px solid #F8F8F8;
}

.tab-content {
    overflow: hidden;
    max-height: 0;
    color: #1C1B1B;
    background: #F8F8F8;
    transition: all 0.35s;
}

section.section0 {
    height: 0px;
}

section>header {
    width: 100%;
    max-height: 95px;
    background: #1C1B1B;
    color: #F8F8F8;
    border-bottom: 2px dashed #1C1B1B;
    cursor: pointer;
}

.tab-close {
    display: none
}

section.show .tab-close {
    display: block;
    position: absolute;
    font-family: "misobold";
    font-size: 30px;
    right: 35px;
    bottom: 10px;
}

section>header>.header-content {
    position: relative;
    max-width: 100%;
    white-space: nowrap;
    justify-content: space-between;
    margin: auto;
}

section>header:hover,
section.show header {
    color: #1C1B1B;
    transition: all .2s ease-in-out;
}

section>header:hover span {
    -webkit-text-stroke: 1px #F8F8F8;
}

section.show header {
    background-color: #F8F8F8;
    z-index: 10;
}

section.show header:hover span {
    -webkit-text-stroke: 0px #1C1B1B;
}

section.show .tab-content {
    max-height: 2200vh;
}

/* MARQUEE */

.marquee .marquee-content {
    width: 50%;
    position: relative;
    display: inline-block;
    animation: marquee 8s linear infinite;
}

.marquee .h1 span {
    padding-left: 15px;
}

.marquee .h1 {
    animation: swap 15s linear infinite;
    padding-left: 20px;
}

.marquee-content .fixed,
.marquee .marquee-content span,
section.show .tab-close {
    display: initial;
}

.marquee-content span {
    display: none;
}

@keyframes swap {

    0%,
    50% {
        right: 0%;
    }

    50.01%,
    100% {
        left: 0%;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0%)
    }

    100% {
        transform: translateX(-100%)
    }
}

/* STICKY */

.sticky {
    position: fixed;
    width: 100%;
}

.mainNav.sticky {
    top: 0px;
}

.label.sticky {
    top: 70px;
}

.header.sticky {
    top: 100px;
    transition: all 0s;
}

.tab-content {
    transition: all 0s;
    padding-top: 0px;
}

.sticky+.tab-content {
    transition: all 0s;
    padding-top: 96px;
}

/* //////// 7 MECANIQUES ///////// */

.title-box {
    display: flex;
    border-top: 2px solid;
    border-bottom: 2px solid;
    margin-bottom: 100px;
    padding: 15px 0;
}

.title-box.first {
    border-top: none;
}

.title-box div {
    width: 40%
}

.cousins .title-box div {
    width: 25%;
}

.title-box h2 {
    width: 60%;
    text-align: left;
}

.cousins .title-box h2 {
    width: 75%;
}

.title-box p {
    font-family: "misobold";
    font-size: 24px;
    text-align: end;
    margin: 0;
}

.sheet {
    font-family: "misobold";
    font-size: 30px;
    text-align: center;
    padding-bottom: 70px;
}

.tab .sheet {
    text-transform: uppercase;
}

.legende,
.subtitle,
.post-it .strong,
.enseignements ul strong,
.variations-box li {
    font-style: italic;
    font-weight: bold;
}

/*///// HYPOTHESE /////*/

.mini-img,
.bg,
.links-box {
    background-repeat: no-repeat;
}

.mini-img {
    margin-left: auto;
    background-position: right 0%;
    background-size: 280px;
}

.fig,
.fig-cs {
    font-family: "misobold";
    text-transform: uppercase;
    line-height: 0;
    margin-top: 0;
    font-size: 45px;
}

.fig-cs {
    text-align: end;
}

.mp .mini-img,
.p .mini-img,
.e .mini-img {
    height: 350px;
}

.ce .mini-img,
.a .mini-img,
.cc .mini-img,
.fl .mini-img {
    height: 400px;
}

.hypothese .bg {
    position: relative;
}

.fig {
    position: absolute;
}

.hypothese .bg {
    background-position: left 50%, left 50%;
}

.ce .hypothese .bg {
    background-size: 100%, 76%;
}

.ce .fig {
    top: 75%;
    left: 14%;
}

.mp .hypothese .bg {
    background-position: left 20%, left 20%;
    background-size: 100%, 66%;
}

.mp .fig {
    top: 60%;
    left: 5%;
}

.p .hypothese .bg {
    background-position: left 45%, left 45%;
    background-size: 100%, 71%;
}

.p .fig {
    top: 15%;
    left: 3%;
}

.a .hypothese .bg {
    background-position: left 100%, left 100%;
    background-size: 100%, 60%;
}

.a .fig {
    top: 25%;
    left: 14%;
}

.cc .hypothese .bg {
    background-size: 100%, 73%;
}

.cc .fig {
    top: 15%;
    left: 14%;
}

.e .hypothese .bg {
    background-size: 100%, 54%;
}

.e .fig {
    top: 55%;
    left: 55%;
}

.fl .hypothese .bg {
    background-size: 100%, 62%;
}

.fl .fig {
    top: 65%;
    left: 65%;
}

.legende {
    font-size: 26px;
    margin-bottom: 100px;
}

.legende li {
    text-align: end;
    margin: 0;
}

.legende a {
    text-decoration: none;
    color: #1C1B1B;
}

/*///// OBSERVATIONS /////*/

.subtitle {
    font-family: 'termes', serif;
    font-size: 22px;
}

/* IMG */

.observations .bg {
    max-width: 1300px;
    margin: 0 auto;
}

.observations .bg img {
    position: absolute;
    width: 55%;
    z-index: 1;
}

/* CE */
.ce .observations .bg {
    height: 1100px;
}

.observations .bg img.inter {
    top: 0px;
    left: 0%;
}

.observations .bg img.voyage {
    top: 450px;
    right: 0%;
}

/* MP */
.mp .observations .bg {
    height: 1550px;
}

.observations .bg img.design {
    top: 0px;
    left: -5%;
}

.observations .bg img.coaching {
    top: 500px;
    right: -2%;
}

.observations .bg img.equipe {
    top: 1080px;
    right: 4%;
}

.observations .bg img.ethnographie {
    top: 750px;
    left: 4%;
    z-index: 0;
}

/* P */
.p .observations .bg {
    height: 1000px;
}

.p .observations .bg img {
    width: 60%;
}

.observations .bg img.timeline {
    top: 0px;
    left: 0%;
    z-index: 0;
}

.observations .bg img.rythmer {
    top: 460px;
    right: 0%;
}

/* A */
.a .observations .bg {
    height: 1750px;
}

.observations .bg img.cohesion {
    width: 40%;
    top: 0px;
    left: 0%;
}

.observations .bg img.immersion {
    top: 270px;
    right: -9%;
}

.observations .bg img.ideation {
    top: 510px;
    right: 9%;
    z-index: 0;
}

.observations .bg img.embassadeurs {
    top: 950px;
    left: 3%;
}

.observations .bg img.creation {
    top: 1280px;
    right: 0%;
    z-index: 0;
}

/* CC */
.cc .observations .bg {
    height: 2500px;
}

.observations .bg img.volants {
    top: 0px;
    left: 0%;
}

.observations .bg img.brico {
    top: 360px;
    right: 0%;
}

.observations .bg img.megotiers {
    top: 1180px;
    left: -4%;
}

.observations .bg img.scolaire {
    top: 800px;
    left: 10%;
    z-index: 0;
}

.observations .bg img.bois {
    top: 1670px;
    right: 5%;
}

.observations .bg img.arbres {
    top: 1940px;
    left: 0%;
}

/* E */
.e .observations .bg {
    height: 1300px;
}

.observations .bg img.lille {
    top: 0px;
    left: 0%;
}

.observations .bg img.mulhouse {
    top: 410px;
    right: -5%;
}

.observations .bg img.e-paris {
    top: 770px;
    left: 5%;
}

/* FL */

.fl .observations .bg {
    height: 1500px;
}

.observations .bg img.prefiguration {
    top: 50px;
    left: 0%;
}

.observations .bg img.dunkerque {
    top: 400px;
    right: -5%;
    z-index: 0;
}

.observations .bg img.paris {
    top: 840px;
    left: 8%;
}

.observations .bg img.metz {
    top: 1110px;
    right: 17%;
}

/* POST-ITS */

.post-its {
    position: relative;
    text-align: left;
}

.post-it {
    z-index: 2;
    position: absolute;
    background-color: #FFB18C;
    width: 420px;
    min-height: 280px;
    padding: 20px 0 50px 0;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
    outline: 2px dashed #1C1B1B;
    outline-offset: -12px;
}

.post-it .container {
    width: 361px;
}

.post-it .subtitle,
.post-it .strong {
    font-size: 18px;
}

.post-its ul,
.post-its p {
    font-size: 14px;
}

.post-its li ul,
.post-its p {
    margin-top: 0;
}

.post-its ul,
.post-its p {
    margin-bottom: 0;
}

.post-its p,
.post-it .strong,
.post-it .subtitle,
.post-its li {
    padding-top: 20px;
}

.post-its li li,
.post-its li p {
    padding-top: 0;
}

.post-it .links {
    text-align: center;
    padding: 30px auto 0;
}

.post-its a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #FF6E29;
}

.anchor {
    display: block;
    position: relative;
    top: -220px;
    visibility: hidden;
}

/* CE */

.post-it.contrat {
    top: 35px;
    right: 16%;
}

.post-it.co-financement {
    top: 210px;
    right: 5%;
}

.post-it.inter-collectivites {
    top: 470px;
    left: 9%;
}

.post-it.coordination {
    top: 820px;
    left: 35%;
}

.post-it.adhesion {
    top: 690px;
    left: -1%;
}

/* MP */

.post-it.design {
    top: 30px;
    right: 24%;
}

.post-it.coaching {
    top: 350px;
    right: 3%;
}

.post-it.sociologie {
    top: 430px;
    left: 2%;
}

.post-it.politiques {
    top: 870px;
    right: 2%;
}

.post-it.education {
    top: 1140px;
    left: -1%;
}

/* P */

.post-it.travail {
    top: 40px;
    right: 24%;
}

.post-it.co-construction {
    top: 210px;
    right: 2%;
}

.post-it.pedagogie {
    top: 530px;
    left: 2%;
}

/* A */

.post-it.second {
    top: 160px;
    right: 33%;
}

.post-it.superieur {
    top: -10px;
    right: 4%;
}

.post-it.ouvert {
    top: 635px;
    left: -1%;
}

.post-it.semi-pro {
    top: 930px;
    right: 2%;
}

.post-it.collectif {
    top: 1280px;
    left: 5%;
}

.post-it.formation {
    top: 1520px;
    left: 24%;
}

/*  CC */

.post-it.metz {
    top: 370px;
    left: 6%;
}

.post-it.lille {
    top: 0px;
    right: 7%;
}

.post-it.mulhouse {
    top: 1180px;
    right: 20%;
}

.post-it.strasbourg {
    top: 810px;
    right: 0%;
}

.post-it.paris {
    top: 1610px;
    left: 11%;
}

.post-it.dunkerque {
    top: 2040px;
    right: 2%;
}

/* E */

.post-it.ecosysteme {
    top: 50px;
    right: 6%;
}

.post-it.acteurs {
    top: 370px;
    left: -1%;
}

.post-it.grand-est {
    top: 560px;
    left: 29%;
}

.post-it.e-dunkerque {
    top: 930px;
    right: 11%;
}

/* FL */

.post-it.iterations {
    top: 0px;
    right: 5%;
}

.post-it.impliquation {
    top: 300px;
    left: 2%;
}

.post-it.exception {
    top: 970px;
    right: 2%;
}

/*///// ENSEIGNEMENTS /////*/

.enseignements ul,
.observations ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

.enseignements li {
    margin-top: 12px;
}

.enseignements h3+p {
    margin: 0;
}

/*///// DASHED-BOXES ( VARIATIONS - OUTILS - TEMOIGNAGES ) /////*/

.variations-box {
    margin-top: 100px;
}

.variations-box li {
    margin-top: 12px;
}

.links-box,
.variations-box {
    width: 100%;
    padding: 50px;
    outline: 2px dashed #1C1B1B;
}

.links-box {
    background-size: 150px;
    background-position: 5% 50%, 95% 50%;
    text-align: center;
}

.temoignages .links-box {
    background-size: 120px;
}

.links-box.audio {
    padding: 95px;
    padding-top: 50px;
}

.links-box.video {
    background-position: 24% 4%, 76% 4%;
    background-size: 160px;
    padding: 95px;
    padding-top: 160px;
}

.a .links-box.video {
    margin-top: 100px;
}

.links-box figure {
    z-index: 0;
    padding-top: 30px;
    margin: 0 auto;
}

.links-box figcaption {
    color: #FF6E29;
    padding-bottom: 20px;
}

iframe {
    width: 100%;
    height: 330px;
    border: 2px solid #1C1B1B;
}

audio {
    width: 420px;
    max-width: 90%;
    height: 50px;
    background: #403b3b;
    padding: 5px;
    border-radius: 30px;
}

.links-box a,
.links-box a:hover {
    text-decoration: none;
    color: #FF6E29;
}

:focus {
    outline: none;
}

/* ////////////////////// NAV-LINKS PAGES ////////////////////// */

.label {
    height: 110px;
    background-color: #F8F8F8;
    border-bottom: 2px dashed #1C1B1B;
}

.label .container {
    display: flex;
}

.label .container div {
    max-width: 100%;
    min-width: 90%;
}

.label .logo {
    max-height: 100px;
}

.label p {
    text-align: end;
    width: 10%;
    margin-top: 60px;
}

.label a {
    font-family: "misobold";
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #1C1B1B;
}

.main-intro {
    padding-bottom: 100px;
}

.intro {
    padding-bottom: 50px;
}

.intro a {
    font-weight: bold;
    color: #FF6E29;
}

/*///// ABOUT /////*/

.about .content,
.contact .content,
.cousins .content {
    padding-top: 180px;
}

article.illustrations {
    padding-bottom: 100px;
}

.side {
    min-width: 230px;
    max-width: 26%;
    text-align: right;
    margin-left: auto;
}

.about li {
    text-align: right;
}

.about ul strong {
    font-weight: bold;
}

.definition {
    font-style: italic;
}

.intro-mobil {
    display: none;
}

.general-bg {
    background-position: 50% 38%;
    background-size: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

.about-bg {
    background-position: 0% 0%;
    background-size: 100%;
}

.about-bg.top {
    padding-top: 4%;
    padding-bottom: 40%;
}

.about-bg.bottom {
    padding-top: 40%;
    padding-bottom: 25%;
}

.about .links-box {
    margin-bottom: 70px;
}

/*///// CONTACT /////*/

/*///// COUSINS /////*/